[push]
	default = upstream
[user]
	name = Mareike Haug
	email = mareike.haug@web.de
[color]
	ui = auto
[core]
	excludesfile = /Users/mareike/.gitignore
	editor = code --wait
[credential]
	helper = osxkeychain
[github]
	user = maidi29
[diff]
	submodule = log
[column]
	ui = auto,dense
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
